* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
}
.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}
header {
    padding: 40px 32px;
    display: flex;
    justify-content: space-between;   
    align-items: center; 
}
.logo-and-brandname {
    display: flex;
    align-items: center;
    gap: 20px;

}
.logo {
    width: 63px;
    }
.brandname {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 45px;
    color: inherit;
}
img {
    width: 100%;
    }
.menu-list {
    font-family: 'Athiti';
    font-style: normal;
    font-weight: 500;
    display: flex;
    gap: 42px;
    align-items: center;
}
.hamburger {
    height: 24px;
    width: 24px;
    background: url(./img/Vector\ \(2\).svg);
    display: none;

}
li {
    list-style: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
}
a {
    text-decoration: none;
    color: inherit;
}
main {
    display: flex;
    padding-top: 90px;
    padding-inline: 32px;
}
.main-text {
    width: 50%;
    font-family: 'Inter';
}
h1 {    
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #1c1e52;
    margin-bottom: 22px;
    width: 84%;
    }
span {
    color: #07b464;
}
.main-text-par {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000 ;
    margin-bottom: 32px;
}
.know-more-button {
    background: linear-gradient(180deg, #34e06f 0%, #07b464 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 4px rgba(255, 255, 255, 0.25) inset 0px -2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    padding: 15px 60px;
    margin-top: 15px;
    display: inline-block;
   
}
.main-img {
    width: 667px;
    padding-top: -135px ;
    padding-right: 20px;
}
 
.made-by {
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 64px;
    color: #1c1e52;
}
.footer-resp {
    display: none;
}


@media only screen and (max-width: 1024px) {    
    .menu-list {
         display: none;
    }
    .hamburger {
        display: block;
    }
    main {
        flex-direction: column;
        padding-top: 0;
    }
    .main-text {
        width: 100%;
        padding-inline: 24%;
    }
    h1 {
        width: 100%;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        font-family: 'Inter';
        font-weight: 700;
    }
    .main-text-par {
        padding-inline: 57px;
        text-align: center;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
    }
    .know-more-button {
        width: 293.47px;
        margin-inline: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-img {
        width: 80%;
        margin: 0;
        margin-inline: 10%;
        margin-top: 20px;
    }
    .made-by {
        display: none;
    }

    .footer-resp {
        display: flex;
        flex-direction: column;   
        align-items: center; 
        color:inherit;    
    }
    .logo-footer {
        margin-top: 70.13px;
        width: 33.15px;
        height: 33.15px;
        align-items: center;
    }
    .footer-h2 {
        margin-top: 16.33px;
        width: 95px;
        font-family: 'Athiti';
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.0663073px;
        color: #0B4654;
    }
    .footer-txt {
        width: 178px;
        margin-top: 14px;
        margin-bottom: 56px;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 11.9353px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.132615px;
        color: #5C5C5C;
    }
        
}